<body>
  <div id="thank-you">
    <h1><span class="name">X</span>, your free sample is on its way!</h1>
    <h2>We hope you enjoy your freebie, and share it with your <span class="source"></span>friends</h2>

    <div id="user-information"></div>
  </div>
  <!-- scripts -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>