<body>
  <div id="landing-page">
    <h1>Check out these free samples!</h1>
    <h2>Select a sample below</h2>

    <div id="gif-results"></div>
  </div>
  <!-- scripts -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>